[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/PaperMod-bookshelf"]
	path = themes/PaperMod-bookshelf
	url = https://github.com/tgagor/hugo-PaperMod-bookshelf.git
