<link rel="me" href="https://mastodon.social/@vercosa">
<link rel="me" href="https://bsky.app/profile/tiagolima.me">
<link rel="me" href="https://github.com/tiagovercosa">
<meta name="fediverse:creator" content="@vercosa@mastodon.social">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
/>
