:root {
  --color-tx: #100F0F;

  --primary-hue: 212deg;
  --primary-saturation: 68%;
  --primary-lightness: 39%;
}

html[class~="dark"] {
  --color-tx: #CECDC3;

  --primary-hue: 208deg;
  --primary-saturation: 50%;
  --primary-lightness: 45%;
}

body {
  color: var(--color-tx);
}

main {
  font-family: 'Merriweather', 'Georgia', serif;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  hyphens: auto;
}

@layer theme {
  :root {
    --hx-default-mono-font-family: 'Iosevka', 'JetBrains Mono', monospace;
  }
}

.content {
  color: var(--color-tx);
  font-size: 16px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-tx) !important;
}

.content a,
.hextra-footer a {
  color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness)) !important;
  text-decoration: none;
}
.content a:hover,
.hextra-footer a:hover {
  opacity: 0.85;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.social-links a svg {
  width: 21px;
  height: 21px;
  transition: opacity 0.2s ease;
}

.hextra-code-block {
  font-size: 1.1em;
}

.section-title {
  font-size: 1.8em;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}
