.content {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-inline: auto;
}

main {
  line-height: 1.7;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}


.social-links {
  text-align: center;
  margin-top: 2rem;
}

.social-links a svg {
  width: 21px;
  height: 21px;
  transition: opacity 0.2s ease;
}

.content a {
  color: #205EA6;
  text-decoration: none;
}

.content a:is(html[class~="dark"] *) {
  color: #4385BE;
}

.content a:hover {
  opacity: 0.85;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  transition: opacity 0.2s ease, text-decoration-color 0.2s ease;
}
